<!DOCTYPE html>

<html lang="pt-br">
	<head>	
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Fornecedores</title>
	</head>
	
	<body>
		<h1>Cadastro de Fornecedores</h1>
		<a href="/">Inicio</a>
		
		
		<form method="post">
			Cpf/Cnpj: <input type="text" value="" name="cpf_Cnpj" /> <br />
			Nome: <input type="text" value="" name="nome" /> <br />
			Seguimento: <input type="text" value="" name="area_Produtos" /> <br />
			Telefone: <input type="text" value="" name="telefone" /> <br />
			E-mail: <input type="email" value="" name="email" /> <br />
			<button type="submit">Salvar</button>
		</form>
	</body>
</html>